<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raycoarana.glass.demo4">

    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <service android:name=".Demo4Service">
            <intent-filter>
                <action
                    android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/show_my_card_trigger" />
        </service>

        <activity android:name=".MenuActivity"
                  android:theme="@style/MenuTheme"/>

    </application>

</manifest>
